{% extends 'components/base.html' %}

{% load  has_functions %}

{% block content %}
<!-- ======= Pricing Section ======= -->

<section id="pricing" class="pricing section-bg">

  <div class="vc_row wpb_row vc_row-fluid pt-5 vc_custom_1626284864398 vc_row-has-fill">
    <section id="features" class="plans-table pt-5">
      <div class="container">
        <div class="section-title">
          <h2>Escolha o plano ideal para você</h2>
          <p>Software de elaboração, acompanhamento e aplicação híbrida (online e presencial) de provas, com
            monitoramento
            100% integrado e leitura de gabarito e ensalamento automatizados.</p>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-7 col-sm-12">
            <table class="col-md-12 col-sm-12">
              <thead>
                <tr>
                  <th class="function">Funcionalidades</th>
                  {% for plan in object_list %}
                  {% if plan.highlight == False %}
                  <th class="text-center">
                    <a href="{% url 'plan_detail' slug=plan.slug %}" id="plan-name" class="link-info">{{plan.name}}</a>
                    <div id="price-fixed"><strong>R$ {{plan.price_fixed}}</strong></div>
                    <div id="price-student"><strong>+ {{plan.price_student}} por aluno</strong></div>
                  </th>
                  {% else %}
                  <th class="text-center">
                    <span class="best">Mais vendido
                      <i class="mlabs-icon mlabs-icon-trophy"></i>
                    </span>
                    <a href="{% url 'plan_detail' slug=plan.slug %}" id="plan-name" class="link-info">{{plan.name}}</a>
                    <div id="price-fixed"><strong>R$ {{plan.price_fixed}}</strong></div>
                    <div id="price-student"><strong>+ {{plan.price_student}} por aluno</strong></div>
                  </th>
                  {% endif %}
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for functionality in functionalities %}
                <tr>
                  <td><span class="service">{{functionality.name}}</span></i></td>
                  {% for plan in object_list %}
                  {% if plan|has_functions:functionality == 1 %}
                  <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                  {% elif plan|has_functions:functionality == 2 %}
                  <td class="text-center"><i class="fa fa-cart-plus" aria-hidden="true"></i></td>
                  {% else %}
                  <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                  {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                  <td></td>
                  {% for plan in object_list %}
                  <td class="text-center">
                    <a href="{% url 'plan_detail' slug=plan.slug %}" class="btn-buy" role="button"
                      aria-pressed="true">Simular</a>
                  </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper"></div>
      </div>
    </div>
  </div>
</section>
<!-- End Pricing Section -->

{% endblock %}