{% extends 'components/base.html' %}


{% block content %}
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Escolha o plano ideal para você</h2>
      <p>Software de elaboração, acompanhamento e aplicação híbrida (online e presencial) de provas, com monitoramento
        100% integrado e leitura de gabarito e ensalamento automatizados.</p>
    </div>
    <div class="row">
      {% for plan in plans %}
      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        {% if plan.highlight == True %}
        <div class="box featured">
          <span class="advanced">Top</span>
          {% else %}
          <div class="box">
            {% endif %}
            <h3 id="plan">{{ plan }}</h3>
            <h4>
              <div>R$ {{ plan.price_fixed }}</div>
              <span> + {{ plan.price_student }} por aluno</span>
            </h4>
            <ul>
              {% for functionality in plan.functionalities.all %}
              {% for funcionali in functionalities %}
              {% if funcionali == functionality %}
              <ul class="fa-ul">
                <li>
                  <span class="fa-li">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                  {{ functionality.name }}
                </li>
              </ul>
              {% endif %}
              {% endfor %}
              {% endfor %}
              {% for functionality_extra in plan.functionalities_extras.all %}
              {% for funcionali in functionalities %}
              {% if funcionali == functionality_extra %}
              <ul class="fa-ul">
                <li>
                  <span class="fa-li">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                  </span>
                  {{ functionality_extra.name }}
                </li>
              </ul>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'plan_detail' slug=plan.slug %}" class="btn-buy" role="button"
                aria-pressed="true">Simular</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
<!-- End Pricing Section -->

{% endblock %}